/********** Resets **********/

*, *:after, *:before {
	box-sizing: border-box;
}
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    vertical-align:baseline;
    background:transparent;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

/********** Base Styles **********/

html {
	font-size: 62.5%;
}

body {
	font-family: Lato, serif;
	font-size: 1.8em;
}

h1, h2, h3 {
	padding: 1em 0 1em;
}

h1 {
	font-size: 3em;
	font-weight: normal;
}

h2 {
	font-size: 2.8em;
	font-weight: normal;
}

p {
	margin: 1em 0 1em;
}

img {
	display: block;
}

.row{
	width: 96%;
	max-width: 960px;
	margin: 0 auto;
} 

.grid_2-1 {
	width: 50%;
	padding: 0 5% 0 0%;
	float: left;
}

.grid_2-1 + .grid_2-1 {
	padding: 0;
}
.grid_3-1 {
	width: 31.2%;
	float: left;
	margin-left: 3.2%;
	margin-right: 0;
	margin-bottom: 3.2%;
}

.grid_3-1:nth-of-type(3n+1){
	margin-left: 0;
}

/********** Header Styles ***********/

#header-wrap{
	background: #5602e8;
	border-top: 5px solid #4b7c81;
	text-align: center;
	font-size: 1.2em;
}

#header a {
	color: #fff;
	text-decoration: none;
}

#header a:hover {
	background: #DAEEF5;
}


/********** Navigation Styles **********/

#main-nav {
    display: inline-block;
    position: relative;
}

#main-nav li {
	text-decoration: none;
	list-style: none;
	display: inline-block;
	-webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -o-transition: all .5s linear;
    transition: all .5s linear;
}

#main-nav li:hover {
    background: #DAEEF5;
    color: #4b7c81;
}

#main-nav li:hover a {
	color: #4b7c81;
}

#main-nav li a {
	text-decoration: none;
	color: #fff;
	padding: 15px 20px;
    display: inline-block;
}

#main-nav span {
	padding: 5px;
}

/********** Main Content Styles **********/

.page-title-wrap{
	background: #DAEEF5;
}

#page-title{
	text-align: center;
	padding: 5%;
	color: #4b7c81;
	font-family: 'Rambla';
    font-weight: 300;
} 

#main-wrap{
	min-height: 100vh;
	background-size: cover;
	padding: 0 0 5%;
	background: #00c6ff; /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #00c6ff , #0072ff); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #00c6ff , #0072ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background: url(../images/background.jpg);
}

#content {
	margin-top: 0%;
	padding: 2%;
}


/********** Modal Styles ************/
.modal {
	position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s linear;
    background: rgba(0, 0, 0, .5);
}

#modal1:target {
	opacity: 1;
	visibility: visible;
}

.modal-content {
	opacity: 0;
	visibility: hidden;
	transition: all 1s ease;
	margin: 10% auto 0 auto;
  width: 80%;
  height: 500px;
  overflow: auto;
  border: 10px solid #fff;
  background: #ffffff;
  padding: 30px; 
  position: relative;
  bottom: 0;
  transform: scale(.7);
}

#modal1:target .modal-content {
	opacity: 1;
	visibility: visible;
	transform: scale(1);
}

.modal-content h2 {
	font-size: 2em;
}

.modal-content p {
	margin: 0 0 30px;
}

.close-modal {
	position: absolute;
	display: inline-block;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.modal-footer {
	text-align: right;
}

.modal-footer a {
	text-decoration: none;
	color: #343434;
	text-transform: uppercase;
	margin: 20px;
	padding: 10px 15px;
	border-radius: 5px;
	transition: all 1s;
}

.modal-footer a:hover {
	background: #ccc;
}
/********** Product Styles **********/

.product {
	background: #fff;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	border: 1px solid #ccc;
	box-shadow: 0px 2px 10px 0px #000;
	padding: 0 0 10px;
}

.product-title {
	padding: 5px 0 10px 5px;
}

.product-title h3 {
	text-align: center;
	font-weight: normal;
	color: #4b7c81;
}

.price {
	position: absolute;
    background: rgba(28, 94, 185, 0.7);
    padding: 10px;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 1.5em;
}

.price:before,
#total-price:before,
#subtotal-price:before,
#shipping-price:before{
	font-family: FontAwesome;
	font-weight: 100;
	content: "\f156";
	font-size: .9em;
	display: inline-block;
  padding: 5px;
}

.item-total-price {
	font-weight: 600;
	display: block;
	margin: 15px 0;
}
.item-total-price:before {
	font-family: FontAwesome;
	content: "\f156";
	font-size: .9em;
}

.item.disapear{
	opacity: 0;
	transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.product-image {
	position: relative;
}


.product img {
	width: 100%;
	display: block;
}

.button.add-to-cart {
	display: block;
	margin: 0 auto;
	max-width: 60%;
	text-align: center;
}

.add-to-cart:before{
	font-family: FontAwesome;
	content: "\f217";
	display: inline-block;
  padding: 5px;
}

.button.update-cart {
	color: #5602e8;
	background: transparent;
  box-shadow: none;
  border: none;
  font-size: 1em;
}

.button.update-cart:hover {
	background: transparent;
	color: #4b7c81;
	font-weight: 900;
}

.button.update-cart:before{
	font-family: FontAwesome;
	content: "\f217";
	display: inline-block;
  padding: 5px;
}

.button.remove-from-cart {
	border-radius: 20em;
	box-shadow: none;
	border: none;
	color: #FF0000;
	background: transparent;
}

.button.remove-from-cart:hover{
	color: #CC0605;
	background: transparent;
	font-weight: 900;
}

.remove-from-cart:before{
	font-family: FontAwesome;
	content: "\f014";
	display: inline-block;
  padding: 5px;
  font-size: 1.5em;
}

.product-description {
	text-align: center;
	padding: 10px;
}

.cart-contents .price {
	position: relative;
	font-size: 1em;
	display: inline-block;
}

#shopping-cart {
	background: #e8e5e5;
	padding: 10px;
	margin-bottom: 15px;
}

.item {
	width: 100%;
	padding: 40px 0;
}

.item div {
	padding: 0 5px 0;
}

.item div,
.item img {
	float: left;
}

.order-details {
	float: right;
	text-align: right;
	background: #e8e5e5;
	padding: 10px;
	max-width: 345px;
}

.order-details h3 {
	text-align: center;
}

.product-img {
	width: 15%;
}

.product-img img {
	width: 100%;
}
.product-details {
	width: 40%;
	padding: 0 10px 0;
}

.item h3 {
	padding-top: 0;
	color: #4b7c81;
	font-weight: normal;
}

.cart-quantity {
	width: 30%;
}

.cart-quantity input[type="number"] {
	width: 30%;
}

.cart-price {
	width: 15%;
}

.form-control{
	padding: .5em 1em;
	border: 1px solid #cccccc;
	font-size: 1em;
	line-height: 1.618;
}

input:focus
{
	outline:0;
}
.form-control:focus {
	border-color: #1ab188;
}

#discount-message {
	font-size: .7em;
	color: #ff0000;
	padding: 5px;
}

.subtotal h3,
.shipping h3,
.total h3 {
	padding: 0;

}

.subtotal,
.shipping,
.total {
	padding: 10px;
}

.total {
	background: #DAEEF5;
	margin-bottom: 10px;
}


/********** Footer Styles **********/

#footer-wrap {
	background: #DAEEF5;
	text-align: center;
	padding: 20px 0 20px;  
}